/* * {
  background-color: rgba(0, 0, 0, 0.699);
  color: rgba(255, 255, 255, 0.9);
}*/ 
body {
  font-weight: 100;
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
section .box {
  position: relative;
  max-width: 100%;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #000;
}
section .box p {
  position: relative;
  margin: 0 0 10px;
  padding: 0;
  z-index: 2;
}
section .box::before {
  filter: blur(4px);

}
.tinted {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
h1 {
color: yellow;
}
.nes-container {
  padding: 0px;
  margin: 20px;
}
.gameImg {
  
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.rating i {
  is-medium 
}
.gameImg img {
  width: 100%;
  -webkit-box-shadow: inset 10px 12px 20px 9px rgba(97,97,97,1);
  -moz-box-shadow: inset 10px 12px 20px 9px rgba(97,97,97,1);
  box-shadow: 10px 12px 20px 9px rgba(85, 85, 85, 0.422);
}
.nav ul {
list-style: none;
background-color: #444;
text-align: center;
padding: 0;
margin: 0;
}
.nav a:hover {
background-color: #005f5f;
}

.nav a.active {
background-color: #fff;
color: #444;
cursor: default;
}
.nav li {
font-size: 16px;
line-height: 40px;
height: 40px;
border-bottom: 1px solid #888;
}
.nav a {
text-decoration: none;
color: #fff;
display: block;
transition: .3s background-color;
}
@media screen and (min-width: 910px) {
  .nav li {
  width: 300px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
  }
  .nav li {
  display: inline-block;
  margin-right: -4px;
  }
}
.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.pixel {
  background: transparent;
  height: 1px;
  width: 1px;
  box-shadow: 
    /* 1st row */ 1px 0, 2px 0, 6px 0, 7px 0,
    /* 2nd row */ 0 1px, 1px 1px, 2px 1px, 3px 1px, 5px 1px, 6px 1px, 7px 1px, 8px 1px,
    /* 3rd row */ 0 2px, 1px 2px, 2px 2px, 3px 2px, 4px 2px, 5px 2px, 6px 2px, 7px 2px, 8px 2px,
    /* 4th row */ 0 3px, 1px 3px, 2px 3px, 3px 3px, 4px 3px, 5px 3px, 6px 3px, 7px 3px, 8px 3px,
    /* 5th row */ 1px 4px, 2px 4px, 3px 4px, 4px 4px, 5px 4px, 6px 4px, 7px 4px,
    /* 6th row */ 2px 5px, 3px 5px, 4px 5px, 5px 5px, 6px 5px,
    /* 7th row */ 3px 6px, 4px 6px, 5px 6px,
    /* 8th row */ 4px 7px;  
  transform: scale(20);
}

.center {
  position: absolute;
  margin: auto;
  width: 60%;
    padding: 10px;
  top: 50%;
  left: 50%;
}